%html
  %head
    %title StoreAPP
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Workspace
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body.hold-transition.skin-blue.layout-top-nav
    .wrapper
      %header.main-header
        %nav.navbar.navbar-static-top
          .container
            .navbar-header
              %a.navbar-brand{:href => "#"}
                %b> Store

      
      .content-wrapper
        .container
          // main content
          = yield

